.area1{background-color:  red;}
.area2{background-color:  orange;}
.area3{background-color:  yellow;}
.area4{background-color:  green;}
.area5{background-color:  blue;}

.block {
    border: 1px solid black;
    width:  150px;
    height: 150px;
    color: white;
    display: block; /*  요소 형식을 block으로 지정 */
}

.inline{ display: inline;} /* 요소 형식을 inline으로 지정 */

/* 요소 형식을 inline-block으로 지정 */
.inline-block{ display: inline-block;}

/* 상하 2분할 */

/* 감싸는 요소 스타일 지정 */
.container-1{
    border: 3px solid black;
    width: 323px;
    height: 450px;
}

.div1-1{ /*  위쪽 높이 30%*/
    height: 30%; /* 감싸고 있는 요소(부모 요소) 높이의 30% */
}

.div1-2{ /*  아래쪽 높이 70% */
    height: 70%; /* 감싸고 있는 요소(부모 요소) 높이의 70% */
}
/* 높이만 지정했는데 옆으로 꽉찬 이유는 block 형식이라서 */

.div2-1{
    height: 15%;
}
.div2-2{
    height: 35%;
}
.div2-3{
    height: 50%;
}

.container-2{
    width: 300px;
    height: 500px;
}

/* 좌우 2분할 */
.container-3{
    border: 5px solid red;
    width: 400px;
    height: 200px;
}
.container-4{
    border: 5px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    
}

.container-3 > div {
    display: inline-block; 
    width: 50%;
    height: 100%;
}
/* .container-4 > div {
    display: inline-block; 
    width: 50%;
    height: 50%;
} */
/* .container-3 > div:first-child{ background-color: aqua;}
.container-3 > div:last-child{background-color: chartreuse;}

.container-4 > div:first-child{ background-color: aqua;}
.container-4 > div:nth-of-type(2) { background-color: red;}
.container-4 > div:nth-of-type(3) { background-color: yellow;}
.container-4 > div:last-child{background-color: chartreuse;} */

.row{
    width:100%; /*  block 형식이여서 생략가능 */
    height: 50%;
    
}

.col{
    width: 50%;
    height: 100%;
    display: inline-block;
}

/* display : none */
.none-test{
    display: none;
}